# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python environment & package managers
*.egg-info/
dist/
build/

